<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <!-- <a class="page-link" href="{{ site.baseurl }}/"><strong>home</strong></a> -->
        <a class="page-link" href="{{ site.baseurl }}/" ><span class="tooltip--bottom" data-tooltip="home"><i class="fa fa-lg fa-home"></i>&nbsp;</span></a>
        {% if site.branches %}
           <!-- <a class="page-link" href="{{ site.baseurl }}/branches" alt="branches'">branches</a> -->
           <a class="page-link" href="{{ site.baseurl }}/branches" ><span class="tooltip--bottom" data-tooltip="branches"><i class="fa fa-lg fa-code-fork"></i>&nbsp;</span></a>
        {% endif %}
        <a class="page-link" href="{{ site.baseurl }}/about" ><span class="tooltip--bottom" data-tooltip="about"><i class="fa fa-lg fa-info"></i>&nbsp;</span></a>

        <a class="page-link" href="{{ site.repo }}" ><span class="tooltip--bottom" data-tooltip="repo"><i class="fa fa-lg fa-github"></i>&nbsp;</span></a>
        
        <!-- <a class="page-link" href="{{ site.baseurl }}/about">about</a> -->
        <!-- {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %} -->

      </div>
    </nav>

  </div>

</header>
